# GDP

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Read Data

In [7]:
economist = pd.read_hdf("data/democracy.h5", "economist")
freedom_house = pd.read_hdf("data/democracy.h5", "freedomhouse")
v_dem = pd.read_hdf("data/democracy.h5", "vdem")

                   score
country_name year
Afghanistan  2006   3.06
             2008   3.02
             2010   2.48
             2011   2.48
             2012   2.48
...                  ...
eSwatini     2015   3.09
             2016   3.03
             2017   3.03
             2018   3.03
             2019   3.14

[2004 rows x 1 columns]